* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: rgb(238, 206, 131);
}

header {
    display: flex;
    background: rgb(42, 55, 68);
    padding: 50px;
    color: white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
}
body {
    height: 100%;
}
#page-container {
    height: 100%;
}
#content-wrap {
    /* Could need to add padding here thats footers size */

    height: 100%;
}
/* header section - hamburger icon*/

.container {
    height: 40%;
    display: flex;
    flex-direction: column;
}

#submitform {
    display: none;
    background-color: rgb(42, 55, 68);
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
#submitform input {
    outline: none;
    margin-bottom: 20px;
}
#submitform.visible {
    display: flex;
}
button {
    font: inherit;
    border: 5px solid lightskyblue;
    color: white;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    background: lightskyblue;
    cursor: pointer;
    width: 30%;
    margin: 30px;
}

#btnLogout {
    background-color: rgb(230, 156, 156);
    border-color: rgb(230, 156, 156);
}
#btnLogin {
    background-color: rgb(191, 243, 161);
    border-color: rgb(191, 243, 161);
}

#btnSignin {
    background-color: rgb(226, 233, 124);
    border-color: rgb(226, 233, 124);
}
button:focus {
    outline: none;
}
#add_incident_btn {
    margin: auto;
}
button:hover,
button:active,
#btnLogin:hover,
#btnLogout:hover,
#btnSignin:hover {
    border: 5px solid rgba(180, 180, 180, 0.739);
}

button.visible {
    display: none;
}

#submit_incident_btn {
    display: none;
}

#submit_incident_btn.visible {
    display: block;
}

#messagebox {
    resize: none;
    height: 10vh;
    width: 80%;
    align-self: center;
    outline: none;
}

#incident-list {
    width: 50rem;
    max-width: 50%;
    margin: 2rem auto;
    display: block;
    list-style: none;
    cursor: pointer;
}

#incident-list.visible {
    display: block;
}

#incident-list li {
    color: #ffffff;
    background-color: rgb(42, 55, 68);
    font-size: 20px;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#incident-list h2 {
    font-size: 20px;
}

#incident-list .incident_container {
    border-bottom: rgb(7, 6, 6) 2px solid;
}
#incident-list h1 {
    margin: auto;

    font-size: 20px;
}

#incident {
    display: block;
}

#incident.visible {
    display: none;
}

#incident-list p {
    margin: auto;
}

#incident-list button {
    border: 1px rgba(255, 59, 59, 0.267);
    color: white;
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 59, 59, 0.267);
    cursor: pointer;
    width: 10%;
}

#incident-list span {
    display: none;
    border: 1px black solid;
    background-color: rgba(251, 251, 251, 0.555);
}
#submit_incident_btn {
    background-color: rgba(145, 233, 189, 0.883);
    border-color: rgba(145, 233, 189, 0.883);
    margin: auto;
}
#incident-list span.visible {
    display: block;
}
#incident-list h1 {
    text-decoration: underline;
}
.crossclass,
#cross {
    margin: auto;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.crossclasscontainer,
#crosscontainer {
    display: flex;
    align-self: flex-end;
    width: 3%;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.267);
}

.crossclasscontainer:hover > .crossclass {
    color: white;
    transform: scale(1.1);
}

#crosscontainer:hover > #cross {
    color: white;
    transform: scale(1.1);
}

.block {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: red;
    border: black 1px solid;
    color: black;
}
.danger1 {
    background-color: rgb(0, 255, 85);
}
.danger2 {
    background-color: rgb(0, 4, 255);
}

.danger3 {
    background-color: rgb(255, 251, 0);
}

.danger4 {
    background-color: rgb(255, 136, 0);
}

.danger5 {
    background-color: rgb(255, 30, 0);
}

#loggedIn {
    display: block;
}

#loggedOut {
    background-color: rgb(42, 55, 68);
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
}
#loggedOut input {
    margin-top: 60px;
    margin-left: 20px;
    outline: none;
}
.buttoncontainer {
    margin: 10px;
}
.buttoncontainer button {
    width: 60%;
    margin: 20px;
    margin-left: 80px;
}

#loggedOut.invisible {
    display: none;
}

#loggedIn.invisible {
    display: none;
}

.container1 {
    background-color: rgb(42, 55, 68);
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 400px;
}

.container1 p {
    margin: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
